<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Project</title>
</head>
<body class="myb">

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <form th:action="@{/project/create/{id}(id=${dto.getOrganizationId()})}" th:method="post" th:object="${dto}">
                <div class="form-group">
                    <label for="name" class="form-label">Name: </label>
                    <input class="form-control" type="text" id="name" name="name" />
                    <span style="color: red" th:errors="*{name}"></span>
                </div>
                <div class="form-group">
                    <label for="description" class="form-label">Description: </label>
                    <input class="form-control" type="text" id="description" name="description" />
                    <span style="color: red" th:errors="*{description}"></span>
                </div>
                <div class="form-group">
                    <label for="deadline">Deadline: </label>
                    <input type="datetime-local" name="deadline" id="deadline" th:value="*{deadline}"/>
                    <span style="color: red" th:errors="*{deadline}"></span>
                </div>

                <div class="form-group">
                    <label for="tz">Tz: </label>
                    <input type="text" name="tz" id="tz" th:value="*{tz}"/>
                    <span style="color: red" th:errors="*{tz}"></span>
                </div>

                <div class="form-group">
                    <input class="form-control" type="submit" value="save"/>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>